<div class="dialog-container">
    <h2>{{ isEditing ? 'Editar' : 'Nueva' }} Transacción</h2>

    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="transaction-type">Tipo de Transacción</label>
            <mat-button-toggle-group formControlName="type" id="transaction-type">
                <mat-button-toggle value="income">Ingreso</mat-button-toggle>
                <mat-button-toggle value="expense">Gasto</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="categoryId">
                    <mat-option *ngFor="let category of filteredCategories" [value]="category.id">
                        <div class="category-option">
                            <mat-icon [style.color]="category.color">{{category.icon}}</mat-icon>
                            <span>{{category.name}}</span>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label for="amount">Monto</mat-label>
                <input matInput type="number" formControlName="amount" id="amount" placeholder="0.00">
                <span matPrefix>S/.</span>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label for="description">Descripción</mat-label>
                <input matInput formControlName="description" id="description"
                    placeholder="Descripción de la transacción">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label for="date">Fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" id="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="dialog-actions">
            <button mat-button type="button" (click)="onCancel()">
                Cancelar
            </button>
            <button *ngIf="isEditing" 
                    mat-button 
                    color="warn" 
                    type="button"
                    (click)="deleteTransaction()">
                Eliminar
            </button>
            <button mat-raised-button 
                    color="primary" 
                    type="submit" 
                    [disabled]="!transactionForm.valid">
                {{ isEditing ? 'Actualizar' : 'Guardar' }}
            </button>
        </div>
    </form>
</div>